{
 :data {
        :createdAt "2015-02-28T00:49:36Z"
        :modifiedAt "2015-02-28T00:49:36Z"
        :id "a3caeb08-b9db-4002-b379-cde305d74be7"
        :type "article"
        :document {
                   :components [
                                {
                                 :role "photo"
                                 :URL "bundle://mountain-lions.jpg"
                                 :caption "Thanks to the record"
                                 :backgroundColor "#FFFFFF"
                                 :opacity 1
                                 :fill {
                                        :type "image"
                                        :URL "bundle://gradient.png"
                                        }
                                 }
                                ]
                   }
        :links {
                :self "https://apple.com/articles/aaaaaaaa-qqqq-wwww-eeee-rrrrrrrrrrrr"
                :channel "https://apple.com/channels/aaaaaaaa-qqqq-wwww-eeee-rrrrrrrrrrrr"
                :sections [
                           "https://apple.com/sections/tttttttttttttttttttttttttttttttttttt"
                           "https://apple.com/sections/tttttttttttttttttttttttttttttttttttt"
                           ]
                }
        }
 }
