{:status 409,
 :headers
 {"Date" "Thu, 03 Sep 2015 09:28:53 GMT",
  "Content-Type" "application/json; charset=UTF-8",
  "Content-Length" "38"},
 :body "{\"errors\":[{\"code\":\"WRONG_REVISION\"}]}",
 :request-time 5616,
 :trace-redirects
 ["https://u48r14.digitalhub.com/articles/c39b616f-7a10-4caf-9909-38c40e5b3dc8"],
 :orig-content-encoding nil}