{:applenews-api {:thumbnail-resize-enable true
                 :thumbnail-resize-height 666
                 :thumbnail-resize-width 888
                 :parallel 100
                 :host "https://news-api.apple.com"
                 :throw-exceptions false
                 :channels {:sandbox
                            {:channel-id "your-channel-id-here",
                             :api-key-id "your-api-key-here",
                             :api-key-secret "your-api-secret-here",
                             :sections
                             {:s1 "your-seaction-id-here",
                              :s2 "your-seaction-id-here"}}}}}
